@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */

@theme {
    --color-blue-gray-100: #2c36471a;
    --color-blue-gray-200: #2c364740;
    --color-blue-gray-300: #2c364780;
    --color-blue-gray-500: #2c3647b3;
    --color-blue-gray-700: #2c3647;
    --background: #fff;
    --img-inverted: 0%;
    --primary: #fff;
    --font-display: "Lato", sans-serif; 
}

@layer theme {
    .dark {
        --img-inverted: 100%;
        --primary: #2c3647;
        --background: #2c3647;
    }
}

:root {
    --background: #fff;
    --border: #2c364780;
    --text: #000;
}

.dark {
    --background: #2c3647;
    --border: #fff;
    --text: #fff;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-t from-emerald-500 to-gray-500;
}

::-webkit-scrollbar-track {
    @apply bg-slate-400 dark:bg-white;
}

.bg-misc {
    @apply dark:bg-slate-500 dark:border-slate-700;
}

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    @apply !font-display;
}

body {
    padding: 0;
    margin: 0;
    line-height: inherit;
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

body {
    padding: 0;
    line-height: inherit;
}

.glowing-border {
    z-index: 1 !important;
    position: relative;
    overflow: hidden;
}

.glowing-border::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: solid .25em;
    border-radius: .25rem;
    transform: translate(-50%, -50%);
    border-image: conic-gradient(from var(--angle), rgb(114, 243, 255), rgb(255, 106, 106), rgb(213, 254, 32), rgb(114, 243, 255)) 1;
    animation: glowing-border 3s linear infinite;
    filter: blur(.15rem);
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes glowing-border {
    to {
        --angle: 1turn;
    }
}
